* {
  margin: 50;
  padding: 50;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  width: auto;
  height: auto;

  background: linear-gradient(to left, #1b0f61 0%, #4ab66a 100%);
}

#title { 
  text-align: center;
  font-size: xx-large;
  color: rgb(218, 221, 212);

}

.application {
  height: 600px;
  display: grid;
  grid-template-columns: 0.2fr 1.2fr 2.4fr 0.2fr;
  grid-template-rows: 0.5fr 0.8fr 1.7fr 0.5fr;
  gap: 5px 5px;
  grid-auto-flow: column dense;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;

  grid-template-areas:
    '. . . .'
    '. header listBox .'
    '. addItemBox listBox .'
    '. . . .';
}

.header {
  padding-top: 25px;
  grid-area: header;
  background: #fff;
  box-shadow: 0px 40px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}

.listBox {
  grid-area: listBox;
  background: #fff;
  box-shadow: 0px 40px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  overflow-y: scroll;
}

.addItemBox {
  padding: 15px;
  grid-area: addItemBox;
  background: #fff;
  box-shadow: 0px 40px 15px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
}


/*--------------- Button css ---------------*/
.buttonIndex{
  background-color: #0dc2cf;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 2px solid #0dc2cf;
}
.buttonCreate {
  background-color: #0dc2cf;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition-duration: 0.4s;
  border: 2px solid #0dc2cf;
}

.button:hover {
  background-color: transparent; /* Green */
  color: white;
}

.centerBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
/*--------------- End Button css ---------------*/
