
body {
  background-color: rgb(100, 155, 237);
  height: 100%;


}

#title { 
  font-size: xx-large;
  color: rgb(218, 221, 212);
}


#button1, #button2{

  padding: 15px 15px;

  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: rgb(8, 8, 8);
  background-color: #eeece6;
  border: none;
  border-radius: 50px;
  width: auto;
}

.container {
  display: grid;  
  padding: 10px;
  justify-items: center;
}

.create, .view {

  display: inline-block;
}


